Instructions:
- Create the file in the same directory as this file "session_key.txt" (without the quotes)
- Get your session key
  - Press CTRL + Shift + I
  - Switch to the "Network" tab
  - Visit (or reload) https://adventofcode.com/ (& make sure you're logged in)
  - Select a request by clicking on it
  - On the right side, select "Cookies"
  - Copy the part between the quotes.
    - It should look like this: 2ee592d74fd3e7f433249c3247e7ae75da22afee9e933df52cbed2e9a9dc4d37a4ef33a9ecb9cfc55ee3cad4c97f723f
    - WARNING: DO NOT SHARE THIS KEY. NOT EVEN WITH YOUR DOG!
  - Paste this string (and only this string!) into the "session_key.txt"
  - Enjoy.

If the request fails with "500 Internal Server Error" and Rust panics, you entered a wrong session key.

